<html>
    <head>
        <title>Todo List</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <script src='main.js'></script>
        <link href = "/assets/styles.css" rel="stylesheet" type="text/css"/>

    </head>
        <body>
            <h1>My Todo List</h1>
            <div id="todo-table">
                <form action="/newtodo" method='POST'>
                    <input type="text" name = "item"  placeholder = "Add new item..." required />
                    <button type="submit">Add Item</button>    
                </form>
        
            </div> 
            <div class="row">
                <ul class="col-6 mx-auto">
                    <% for(var i=0; i<todoList.length; i++){ %>
                       <li> <%=todoList[i]%> </li>
                    <%}%>
                </ul>
                
            </div> 
            <div>
                <form action="/removetodo" method='POST'>
                    <input type="text" name = "item"  placeholder = "remove item..." required />
                    <button type="remove">Remove item</button>    
                </form>
            </div>
        </body>

</html>