<html>
    <head>
        <title>Register User</title>
        
    </head>
        <body>
            <h1>Register User</h1>
            <div id="todo-table">
                <form action="/register" method='POST'>
                    <input type="text" name = "item"   placeholder = "name" required />
                    <input type="text" name = "item"  placeholder = "password" required />
                    <button type="submit">Register</button>  
                </form>
                <h1>Sign In</h1>
                <div id="todo-table">
                    <form action="/login" method='POST'>
                        <input type="text" name = "item"   placeholder = "name" required />
                        <input type="text" name = "item"  placeholder = "password" required />
                        <button type="submit">Login</button>  
                    </form>
        </body>

</html>